@font-face {
    font-family: 'HBIOS-SYS';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HBIOS-SYS/HBIOS-SYS.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HBIOS-SYS/HBIOS-SYS.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HBIOS-SYS/HBIOS-SYS.ttf') format('truetype');
}
